@*@using System.Collections.Generic*@
@using Spring.Mvc3QuickStart.Models;

@model List<Articles>

@{
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex; vertical-align:top">
    <label style="margin-right:10px">He interested:</label>
    <select size="5" multiple="multiple">
        @foreach (Articles article in Model)
        {
            <option>@article.Description</option>
        }
    </select>
</div>
